@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');
body{
  font-family: 'Comic Neue', cursive;
  background-image: url(../img/blured-blue-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
