/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS RESET END */



/* GENERAL */
body{
    background-image: url(../img/blue\ background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #444;
    font-size: 16px/28px;
    font-family: "Comic Sans MS", "Comic Sans", Arial, Helvetica, sans-serif;
}

h1{
    font-size: 36px
}

h2{
    font-size: 30px;
}

/* TOP BAR */
.menu{
    display: flex;
    justify-content: space-evenly;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    z-index: 99999;
    height: 60px;
}

.menu:hover{
    background-color: #444;
}

.menu a {
    padding: 10px 25px;
    font-size: 24px;
    color: white;
    text-decoration: none;
    transition: 0.5s;
    display: flex;
    align-items: center;
}

.menu a:hover {
    background-color: #ccc;
    color: #444;
    border-radius: 10px;
}
/* TOP BAR END */

/* INDEX PAGE */
/* WELCOME */
.welcomeText{
    width: 60%;
    text-align: center;
    margin: 20px auto;
    padding: 25px 10px;
    box-sizing: border-box;
    background-color: #eee;
    border-radius: 20px;
}

/* WELCOME END */
/* VEKTOR */
.thatVector{
    width: 90%;
    height: auto;
    margin: 50px auto;
    display: block;
}
.thatVector img{
    max-width: 1000px;
    width: 80%;
    height: auto;
    margin: 0px auto;
    display: block;
}

.thatVector p{
    width: 80%;
    margin: 10px auto;
    text-align: right;
    
}

/* About-us page */
.us-container{
    margin: 30px auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.rakai-about, .dindy-about{
    width:50%;
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    flex-wrap: wrap;
}

.rakai-about img, .dindy-about img{
    width: 60%;
    object-fit: cover;
    align-items: center;
    margin: 20px 40%;
    
 }
 
.aboutPersonTitle{
    color: #eee;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    height: 36px;
}

.rakai-about h2, .dindy-about h2{
    color: #eee;
    margin-top: 50px;
}

.us-container div .testi{
    width: 50%;
    margin: 15px 50%;
}

.aboutPersonDesc{
    color: #eee;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 5px;
    font-size: 14px;
    width: 75%;
}

/* achievement */
.achievementContainer {
    width: 90%;
    margin: auto;
}

.achievementContainer h1{
    color: #fff;
    padding: 5px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
}

.achievementContainer div{
    color: #eee;
    margin: 20px 0;
}

.achievementContainer div h2{
    font-size: 20px;
}

.achievementContainer div img{
    width: 60%;
    margin-top: 16px;
}