@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

/* GENERAL */
body {
  color: #444 !important;
  font-size: 16px/28px;
  font-family: 'Comic Neue', cursive !important;
  background-color: #89b7ee !important;
}

body:nth-child(2) {
  margin-top: 5rem;
}
